<div class='headers col-lg-1'>
    <div class='tthour' ng-repeat='hour in lessons.hours'>
        <h2 class='row_start_time'> {{hour}} </h2>
    </div>
</div>
<div class='col-lg-11'>
  <div ng-repeat='schoolday in lessons.lessons' class='schoolweekwidget' on-render-finished=''>
    <div class='visible-lg'>
        <div class='schooldaywrapper weekwrapper'>
            <div class='container-fluid schoolday'>
                <div class='dateheader'>
                    <h3 ng-bind='schoolday.finnishdate' class='schoolday'></h3>
                </div>
                <div class='lessonsarea col-md-12' ng-style='{height:  {{lessons.lessonsareaheight}} }'>
                    <div class='lessonsdiv' ng-repeat='lesson in schoolday.lessons' ng-style='{top:  {{lesson.top}} , height:  {{lesson.height}} }'>
                        <div class='start_time_block'>
                            <p class='start_time'>
                                {{lesson.start_time}}
                            </p>
                        </div>
                        <div class='content_block'>
                            <p>
                                {{lesson.title}}
                            </p>
                            <p>
                               {{lesson.course}}
                            </p>
                            <p>
                              {{lesson.lecturer}}
                            </p>
                        </div>
                        <div class='end_time_block'>
                            <p class='end_time'>
                                 {{lesson.end_time}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
