{% extends 'layout.html' %}

{% block content %}
<h1>{{ title }}</h1>
<div id='aboutapp' class='panel-group' role='tablist' aria-multiselectable='true'>
    <div class='panel panel-default'>
        <div id='aboutappheading' class='panel-heading' role='tab'>
            <h4 class=̈́'panel-title'>
                <a data-toggle='collapse' data-parent='#aboutapp' href='#aboutappbody' aria-expanded='true' aria-controls='aboutappbody'>About application</a>
            </h4>
        </div>
        <div id='aboutappbody' class='panel-collapse collapse'>
            <div class='panel-body'>
                <p>This is timetable application for Lapland UAS. This is only development version.</p>
                <p>Currently it only shows lessons of current day. There is also JSON API for lessons. There is no documentation for that. You can find URLs from /routes/index.js.</p>
                <p>Source code is available in <a href='https://github.com/aarne-kyppo/scheduler'>here</a></p>
            </div>
        </div>
    </div>
</div>
<div id='options' class='panel-group' role='tablist' aria-multiselectable='true'>
    <div class='panel panel-default'>
        <div id='heading' class='panel-heading' role='tab'>
            <h4 class=̈́'panel-title'>
                <a data-toggle='collapse' data-parent='#options' href='#optionsbody' aria-expanded='true' aria-controls='optionsbody'>Options</a>
            </h4>
        </div>
        <div id='optionsbody' class='panel-collapse collapse in'>
            <div class='panel-body'>
                <form id='groupform'>
                    <div class='form-group'>
                        <label for='group'>Group: </label>
                        <groups></groups>
                        </br>
                        <label for='sampledata'>Use sample data</label>
                        <input type='checkbox' ng-model='use_sample_data'/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class='timetable container-fluid'>
  <school-days view='day'></school-days>
</div>
{% endblock %}
