body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.tthour
{
    background-color: dodgerblue;
}
.headers,.lessonsarea
{
    padding:0;
}
.headers .tthour .row_start_time
{
    margin:auto;
    color:white;
}
.headers .tthour
{
    min-height: 150px;
    padding-left: 10px;
    padding-top: 10px;
    border-bottom: 1px solid black;
}
.lessonsarea
{
    height: 100%;
    background-color: #eee;
    position:relative;
}
.lessonsdiv
{
    position: absolute;
    width: 100%;
    background-color: #FF9233;
}
.start_time,.end_time
{
    margin-left:auto;
    margin-right:auto;
    max-width: 300px;
    text-align: center;
}
.end_time_block
{
    position:absolute;
    bottom:0;
    width:100%;
}
.start_time_block,
.end_time_block
{
    background-color: #444;
    color:white;
}
.end_time
{
    margin-bottom: 0;
}
.content_block
{
    padding-left: 10px;
}
.content_block p
{
    color: #111;
}
.schoolday{
    background-color: cadetblue;
    color:white;
}
.dateheader{
    margin-bottom: 0;
    text-align: center;
}
.dateheader h3{
    margin: 0;
}
.schoolday
{
    padding: 0;
}
.schooldaywidget
{
    margin: 25px 0;
}
